

#title {
  color: blue;
  font-size: 50px;
  font-style: oblique;
  background-color: #f1f1f1;
  padding: 20px;
}

#main {
  padding-top: 10px;
  padding-left: 10px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
}

li {
    border-right: 1px solid #bbb;
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
    background-color: #111;
}

table {
    border: 1px solid gray;
    background-color: #EEEEEE;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
